body {
    background-color: #242424;
}

* {
    font-family: sans-serif;
}

h1 {
    color: #fff;
    font-size: 3rem;
    margin: 10px;
}

input {
    background-color: #fff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    display: inline-block;
    font-size: 150%;
    margin: 0 10px;
    border-radius: 10px;
}

button {
    background-color: #3547ec;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    display: inline-block;
    font-size: 150%;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 10px;
}